

.App {
  width: 100%;
  min-height: 100vh;
  background-color: #000000;
  position: relative;
  overflow-x: hidden;
}


html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

